altair
numpy
pandas
pydeck
streamlit
fastapi
uvicorn
tiktoken
kaleido
cohere
openai
torch
python-multipart
langchain
transformers
sentence-transformers
accelerate
chromadb
tqdm
bitsandbytes
huggingface
python-dotenv