altair
numpy < 2
pandas
pydeck
streamlit
fastapi
langchain-community
uvicorn
tiktoken
kaleido
cohere
openai
torch
python-multipart
langchain
transformers
sentence-transformers
accelerate
chromadb
tqdm
bitsandbytes
huggingface
python-dotenv
